package com.mapyo.mywebviewpushapp.util;

public final class CommonUtils {
    public static final String WEBVIEW_URL = "https://www.google.co.jp/";
    public static final String SENDER_ID = "XXXXXXXXXXXXXXXXX";
}
